html, body{
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	line-height: 150%;
	overflow: auto;
}

h2{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

p{
	color: #777777;
	margin: 30px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width: 600px;

}

ul{
	background: #ffffff;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 80px;
	border-bottom: 4px solid grey;

}

#a, #b, #c{
	margin: 20px 0;
	text-decoration: none;
	color: #777777;
	text-align: center;
	padding: 10px;
	float: left;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
h1{
	background-color: teal;
	margin-right: 150px;
	text-align: center;
}

h3{
	margin: 10px;
	color: teal;
}

#name, #email{
	margin: 0 10px;
	width: 95%;
	height: 30px;
}

#mes{
	margin: 0 10px 10px 10px;
	width: 95%;
	height: 220px;
}

#a, #b{
	border-right: 2px solid grey;
	padding-right: 30px;

}

#logo{
	float: left;
	color: #ffffff;
	font-size: 25px;
	background-color: teal;
	font-weight: bold;
	padding: 30px;
	margin-right: 400px;
	margin-left: 60px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#aboutMe{
	color: teal;
	display: block;
	margin: 20px 20px 0px 20px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 30px;
	border-bottom: 4px solid grey;
}

#connectMe{
	color: teal;
	display: block;
	margin: 20px 20px 0px 20px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 15px;
	border-bottom: 4px solid grey;
}

#container{
	overflow: auto;
	width: 80%;
	margin: 0 auto;
	background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/cork-wallet.png);
	height: 100%;
}

#main{
	background-color: #ffffff;
	width: auto;
	float: left;
	margin: auto;
    margin-left: 60px;
    margin-right: 90px;
    border: 4px solid grey;
}

#connect{
	background-color: #ffffff;
	margin: 0 20px;
	margin-right: 40px;
	width: auto;
	float: left;
    border: 4px solid grey;

}
#git-image, #link-image, #sof-image{
	width: 70px;
	height: 70px;
	float: left;
	margin: 15px 10px;
}

#cris-image{
	display: inline;
	float: left;
	margin: 30px 20px 10px 20px;
	width: 200px;
	height: 200px;
}

#footer{
	padding: 20px 0px;
	background: #666666;
	border-top: 10px solid teal;
	margin-top: 50px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

